/* à enlever par la suite */
h1 {
  text-align: center;
}

#search-bar {
  display: flex;
  justify-content: center;
  width: 100vw;
}

#search-input {
  border-radius: 15px;
  min-width: 30%;
  height: 50px;
  border: 1.5px solid #dc2058;
  margin: 15px 0;
  padding-left: 15px;
  box-shadow: 0 2px 6px var(--shadowColor);
}

#key-words-button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 65%;
  margin: auto;
  gap: 32px;
  padding: 10px 20px;
}

.icon-search {
  width: 80px;
  /* height: 50px; */
  margin-left: -70px;
}

.icon-search:hover {
  animation: rotating 0.5s ease-out;
  cursor: pointer;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
